@charset "utf-8";
/*reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button, textarea, p, th, td { margin:0; padding:0; }
table, td { border-collapse:collapse; border:0; }
a img, img { border:0; }
li { list-style:none; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal;}
input { border:0; font-size:100%; }
button, input, select, textarea { font:13px/1.5 "微软雅黑"; vertical-align:middle; }
/* end reset */
/* ==float clear && grid == */
.fix { clear:both; zoom:1; }
.fix:after { display:block; clear:both; height:0; overflow:hidden; visibility:hidden; content:"."; }
/*common*/
body { font:12px/1.5  "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif"; color:#717171;  -webkit-font-smoothing: antialiased;-moz-font-smoothing: antialiased;}
a { color:#66717c; text-decoration:none; }
a:hover { text-decoration:none; color:#1868AF; }
.arial { font-family:Arial, Helvetica, sans-serif;}
.red { color:red;}
.fl { float:left;}
.fr { float:right;}
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#user_name{cursor:pointer;  }